@use "../base";
@use "../abstracts";
@use "../layout";

.header {
    position: relative;
    background-image: url(../../assets/others/contact.jpg);
    width: 100%;
    height: 590px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        width: 764px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        color: #ff7b29;
        font-size: 13.6rem;
        font-weight: 700;
        line-height: 1.1;
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .header {
        width: 100%;
        height: 240px;

        &__title {
            width: 255px;
            font-size: 4rem;
            line-height: 1.25;
        }
    }
}

// contact

.contact {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    &-content {
        background-color: #ececec;
        padding: 239px 0 239px 179px;
    }

    &__item {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        a {
            color: #2d3134;
            font-family: Poppins, sans-serif;
            font-size: 2rem;
            line-height: 1.5;
        }
    }

    &-form {
        padding: 80px 0 80px 100px;

        display: flex;
        flex-direction: column;
        row-gap: 20px;

        background: #fff;
    }

    &__text {
        padding: 20px;
        width: 485px;
        height: 66px;
        border-radius: 12px;
        border: 1px solid #ececec;
        background: #fff;

        color: #676a6c;
        font-size: 1.6rem;
        line-height: 1.625;
    }

    &__mail {
        @extend.contact__text;
    }

    &__subject {
        @extend.contact__text;
    }

    &__area {
        @extend.contact__text;
        width: 485px;
        height: 114px;
        resize: none;
    }
}

.map {
    position: relative;
    width: 100%;
    height: 510px;
    background-color: red;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}
