/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body,
textarea,
input,
select,
button {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  width: 191px;
  line-height: 66px;
  text-align: center;
  border-radius: 12px;
  background-color: #ff7b29;
  box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

button,
select,
input,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
}

.header {
  padding-top: 32px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navbar__list {
  display: flex;
  column-gap: 34px;
}
.header-navbar__item {
  color: #676a6c;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
  padding: 6px 0;
}
.header-navbar__item--actived {
  position: relative;
}
.header-navbar__item--actived::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  border-radius: 1px;
  background: #ff7b29;
  width: 12px;
  height: 2px;
}
.header-navbar__item:hover {
  color: #2d3134;
}
.header-action__btn {
  width: 131px;
  line-height: 48px;
  background-color: #31c3e0;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.14px;
  border-radius: 8px;
}

@media screen and (min-width: 992px) {
  .header__mobile-logo {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 18px;
  }
  .header__logo {
    display: none;
  }
  .header-navbar {
    display: none;
  }
  .header-action {
    display: none;
  }
  .menu-overlay {
    position: fixed;
    z-index: 3;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    visibility: visible;
    opacity: 1;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0%);
  }
  .menu-drawer {
    padding: 40px 0 0 20px;
    position: fixed;
    inset: 0 0 0 40%;
    background-color: #fff;
    z-index: 4;
    transform: translateX(100%);
    transition: 0.5s ease;
  }
  .menu-item__mobile, .menu-item__show-mobile {
    display: block;
    margin-top: 20px;
    color: #4d4f56;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2;
  }
  .menu-item__show-mobile {
    padding: 6px;
    margin-top: 30px;
    line-height: 20px;
    position: relative;
  }
  .menu-item__show-mobile::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: "";
    display: inline-block;
    width: 90%;
    height: 1px;
    background-color: #4d4f56;
  }
}
.footer {
  margin: 140px 0 30px;
}
.footer-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1.585fr 1.685fr 1.585fr 1fr;
}
.footer-wrap::after {
  position: absolute;
  bottom: -40px;
  left: 0;
  content: "";
  display: inline-block;
  width: 1170px;
  height: 1px;
  background: rgba(210, 208, 192, 0.21);
}
.footer-list__heading {
  padding: 10px 0;
  display: inline-block;
  margin-bottom: 26px;
  color: #020000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
.footer-item {
  padding: 10px 0;
  color: #676a6c;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.16;
}
.footer-list__desc {
  margin-bottom: 39px;
  max-width: 200px;
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  line-height: 1.85;
}
.footer-list__email {
  color: #31c3e0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
}
.footer-bottom {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__list {
  display: flex;
  column-gap: 34px;
}
.footer-bottom__item {
  padding: 6px 0;
  color: #6a6f77;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
}
.footer-bottom__item--actived {
  color: #2d3134;
}
.footer-bottom__item:hover {
  color: #2d3134;
}
.footer-social {
  display: flex;
  column-gap: 20px;
}
.footer__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #bcbcbc;
}
.footer__icon-wrap:hover {
  background-color: #ebebeb;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .footer {
    margin: 60px 0 30px;
  }
  .footer-wrap {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .footer-wrap::after {
    bottom: -30px;
    max-width: 335px;
  }
  .footer-bottom {
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom__list {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-social {
    margin-top: 20px;
  }
}
.subscribe {
  margin-top: 150px;
}
.subscribe-wrap {
  position: relative;
  padding: 70px 0;
  border-radius: 20px;
  background: #e8c400;
  text-align: center;
}
.subscribe__heading {
  color: #2d3134;
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
}
.subscribe__desc {
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 1.625;
  margin: 6px auto 0 auto;
  width: 425px;
  color: #fff;
}
.subscribe-form {
  position: relative;
  margin-top: 40px;
  display: inline-block;
}
.subscribe__email-form {
  padding: 23px 78px 23px 26px;
  width: 450px;
  border-radius: 12px;
  background: #fff;
  color: #b3b4b5;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}
.subscribe__email-form::placeholder {
  color: #b3b4b5;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}
.subscribe__submit-form {
  padding: 0;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translatey(-50%);
  cursor: pointer;
}
.subscribe__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f66f4d;
  border-radius: 6px;
}
.subscribe-icon {
  margin-top: 10px;
}
.subscribe__decor1 {
  position: absolute;
  top: -24px;
  left: 79px;
}
.subscribe__decor2 {
  position: absolute;
  bottom: 77px;
  right: 139px;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .subscribe {
    display: none;
  }
}
.header {
  position: relative;
  background-image: url(../../assets/images/about-bgr.png);
  width: 100%;
  height: 622px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.header__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: #ff7b29;
  font-family: Poppins, sans-serif;
  font-size: 13.6rem;
  font-weight: 700;
  line-height: 1.1;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header {
    position: relative;
    background-image: url(../../assets/images/about-bgr-mobile.png);
    width: 100%;
    height: 264px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header__desc {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
  }
}
.operator {
  margin-top: 140px;
}
.operator-wrap {
  display: grid;
  grid-template-columns: 45% 55%;
  column-gap: 110px;
  align-items: center;
}
.operator__info {
  color: #ff7b29;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.33;
}
.operator__heading {
  margin-top: 10px;
  max-width: 515px;
  color: #2d3134;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.13;
}
.operator__desc {
  margin-top: 20px;
  max-width: 528px;
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 1.625;
}
.operator__image {
  width: 543px;
  height: 482px;
  border-radius: 24px;
  object-fit: cover;
}

/*  pc */
@media screen and (min-width: 992px) {
  .operator__img {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .operator {
    margin-top: 60px;
  }
  .operator-wrap {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .operator__info {
    font-size: 2rem;
    line-height: 1.5;
  }
  .operator__heading {
    max-width: 100%;
    font-size: 4rem;
    line-height: 1.25;
  }
  .operator__desc {
    margin-top: 14px;
    max-width: 335px;
    color: #676a6c;
    font-size: 1.4rem;
    line-height: 1.4285;
  }
  .operator__image {
    margin-top: 30px;
    width: 100%;
    height: 294px;
  }
  .operator__img {
    margin-top: 60px;
  }
}
.choose {
  margin-top: 140px;
}
.choose-inner {
  display: flex;
  align-items: center;
  column-gap: 138px;
}
.choose__img {
  margin-left: 50px;
  width: 436px;
  height: 518px;
  border-radius: 64px;
  object-fit: cover;
}
.choose__heading {
  color: #2d3134;
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}
.choose__desc {
  margin-top: 16px;
  width: 493px;
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 1.625;
}
.choose-list {
  margin-top: 60px;
}
.choose-item {
  margin-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.choose-item__img-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 10px;
  transition: background-color 0.5s linear;
}
.choose-item__heading {
  margin-bottom: 8px;
  font-family: Inter, sans-serif;
  color: #2d3134;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
}
.choose-item__desc {
  width: 319px;
  color: #676a6c;
  font-size: 1.4rem;
  line-height: 1.428;
}
.choose-item:hover .choose-item__img-icon {
  background-color: #fffcf9;
}

/*  pc */
@media screen and (min-width: 992px) {
  .choose-item__mobile-icon {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .choose {
    margin-top: 60px;
  }
  .choose__img {
    display: none;
  }
  .choose__heading {
    color: #2d3134;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.33;
  }
  .choose__desc {
    margin-top: 10px;
    width: 335px;
    color: #676a6c;
    font-size: 1.4rem;
    line-height: 1.4285;
  }
  .choose-list {
    margin-top: 30px;
  }
  .choose-item {
    margin-top: 16px;
    column-gap: 14px;
  }
  .choose-item__img-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: background-color 0.5s linear;
  }
  .choose-item__icon {
    display: none;
  }
  .choose-item__heading {
    margin-bottom: 6px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.42;
  }
  .choose-item__desc {
    width: 236px;
    font-size: 1rem;
    line-height: 1.6;
  }
  .choose-item:hover .choose-item__img-icon {
    background-color: #fffcf9;
  }
}
.guide {
  margin-top: 140px;
}
.guide-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  grid-auto-flow: column;
}
.guide-item__img {
  object-fit: cover;
  width: 370px;
  height: 306px;
  border-radius: 12px;
}
.guide-detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.guide-info__name {
  color: #2d3134;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}
.guide-info__other {
  color: #676a6c;
  font-size: 1.4rem;
  line-height: 1.42;
}
.guide-social {
  margin-top: 6px;
  display: flex;
  column-gap: 12px;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .guide {
    margin-top: 60px;
  }
  .guide-list {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 20px;
  }
  .guide-item__img {
    width: 100%;
    height: 277px;
  }
  .guide-detail {
    margin-top: 14px;
    align-items: center;
  }
  .guide-info__name {
    font-size: 1.6rem;
    line-height: 1.625;
  }
  .guide-info__other {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .guide-social {
    column-gap: 1opx;
  }
}

/*# sourceMappingURL=about.css.map */
