/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body,
textarea,
input,
select,
button {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  width: 191px;
  line-height: 66px;
  text-align: center;
  border-radius: 12px;
  background-color: #ff7b29;
  box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

button,
select,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
}

.header {
  padding-top: 32px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navbar__list {
  display: flex;
  column-gap: 34px;
}
.header-navbar__item {
  color: #676a6c;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
  padding: 6px 0;
}
.header-navbar__item--actived {
  position: relative;
}
.header-navbar__item--actived::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: inline-block;
  border-radius: 1px;
  background: #ff7b29;
  width: 12px;
  height: 2px;
}
.header-navbar__item:hover {
  color: #2d3134;
}
.header-action__btn {
  width: 131px;
  line-height: 48px;
  background-color: #31c3e0;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.14px;
  border-radius: 8px;
}

@media screen and (min-width: 992px) {
  .header__mobile-logo {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .mobile-header {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 18px;
  }
  .header__logo {
    display: none;
  }
  .header-navbar {
    display: none;
  }
  .header-action {
    display: none;
  }
  .menu-overlay {
    position: fixed;
    z-index: 3;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    visibility: visible;
    opacity: 1;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0%);
  }
  .menu-drawer {
    padding: 40px 0 0 20px;
    position: fixed;
    inset: 0 0 0 40%;
    background-color: #fff;
    z-index: 4;
    transform: translateX(100%);
    transition: 0.5s ease;
  }
  .menu-item__mobile, .menu-item__show-mobile {
    display: block;
    margin-top: 20px;
    color: #4d4f56;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2;
  }
  .menu-item__show-mobile {
    padding: 6px;
    margin-top: 30px;
    line-height: 20px;
    position: relative;
  }
  .menu-item__show-mobile::before {
    position: absolute;
    top: -15px;
    left: 0;
    content: "";
    display: inline-block;
    width: 90%;
    height: 1px;
    background-color: #4d4f56;
  }
}
.footer {
  margin: 140px 0 30px;
}
.footer-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 1.585fr 1.685fr 1.585fr 1fr;
}
.footer-wrap::after {
  position: absolute;
  bottom: -40px;
  left: 0;
  content: "";
  display: inline-block;
  width: 1170px;
  height: 1px;
  background: rgba(210, 208, 192, 0.21);
}
.footer-list__heading {
  padding: 10px 0;
  display: inline-block;
  margin-bottom: 26px;
  color: #020000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
.footer-item {
  padding: 10px 0;
  color: #676a6c;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.16;
}
.footer-list__desc {
  margin-bottom: 39px;
  max-width: 200px;
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  line-height: 1.85;
}
.footer-list__email {
  color: #31c3e0;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
}
.footer-bottom {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__list {
  display: flex;
  column-gap: 34px;
}
.footer-bottom__item {
  padding: 6px 0;
  color: #6a6f77;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.14;
}
.footer-bottom__item--actived {
  color: #2d3134;
}
.footer-bottom__item:hover {
  color: #2d3134;
}
.footer-social {
  display: flex;
  column-gap: 20px;
}
.footer__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #bcbcbc;
}
.footer__icon-wrap:hover {
  background-color: #ebebeb;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .footer {
    margin: 60px 0 30px;
  }
  .footer-wrap {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .footer-wrap::after {
    bottom: -30px;
    max-width: 335px;
  }
  .footer-bottom {
    margin-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom__list {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-social {
    margin-top: 20px;
  }
}
.blog-recent {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  column-gap: 56px;
}
.blog-recent__img {
  width: 626px;
  height: 416px;
  border-radius: 10px;
  object-fit: cover;
}
.blog-recent__heading {
  margin-top: 24px;
  display: inline-block;
  width: 574px;
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}
.blog-recent-right {
  padding: 30px 30px 44px 30px;
  border-radius: 10px;
  background: #ececec;
}
.blog-recent-form {
  display: flex;
  column-gap: 20px;
}
.blog-recent__input {
  width: 291px;
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #ececec;
  background: #fff;
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 1.625;
}
.blog-recent__input::placeholder {
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 1.625;
}
.blog-recent__submit {
  width: 117px;
  line-height: 54px;
  cursor: pointer;
}
.blog-recent__desc {
  margin: 40px 0 30px;
  color: #2d3134;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.33;
}
.blog-recent-item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.blog-recent-item__img {
  width: 100px;
  height: 90px;
  border-radius: 8px;
  object-fit: cover;
}
.blog-recent-item__desc {
  color: #2d3134;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .blog-recent {
    grid-template-columns: 1fr;
  }
  .blog-recent__img {
    width: 100%;
    height: 222px;
    border-radius: 10px;
    object-fit: cover;
  }
  .blog-recent__heading {
    margin-top: 14px;
    display: inline-block;
    max-width: 335px;
    font-size: 2.4rem;
    line-height: 1.33;
  }
  .blog-recent-right {
    display: none;
  }
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-heading {
  position: relative;
  padding: 120px 0 140px;
}
.blog-heading__title {
  position: relative;
  z-index: 1;
  color: #2d3134;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.12;
}
.blog-heading__decor {
  position: absolute;
  bottom: -76px;
  right: 50%;
  transform: translateX(50%);
}

/*  pc */
@media screen and (min-width: 992px) {
  .blog-heading__mobile-decor {
    display: none;
  }
}
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .blog-heading {
    padding: 70px 0 70px;
  }
  .blog-heading__title {
    font-size: 4rem;
    line-height: 1.25;
  }
  .blog-heading__decor {
    display: none;
  }
  .blog-heading__mobile-decor {
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
  }
}
.travel {
  margin-top: 112px;
}
.travel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.travel-item__img {
  margin-bottom: 20px;
  width: 370px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.travel-item__heading {
  color: #2d3134;
  font-family: Inter, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.33;
  word-break: break-all;
}
.travel-item__desc {
  margin-top: 16px;
  color: #676a6c;
  font-size: 1.6rem;
  line-height: 1.625;
  word-break: break-all;
}
.travel-item__link {
  margin-top: 20px;
  display: inline-block;
  color: #ff7b29;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
}
.travel-action {
  margin-top: 80px;
  text-align: center;
}

/*  pc */
/*  Tablet and mobile*/
/*  Tablet */
/*  Mobile */
@media screen and (max-width: 767.98px) {
  .travel {
    margin-top: 60px;
  }
  .travel-list {
    grid-template-columns: 1fr;
  }
  .travel-item__img {
    margin-bottom: 14px;
    width: 100%;
    height: 255px;
  }
  .travel-item__heading {
    font-size: 2rem;
    line-height: 1.5;
    word-break: break-all;
  }
  .travel-item__desc {
    margin-top: 10px;
    color: #676a6c;
    font-size: 1.4rem;
    line-height: 1.425;
    word-break: break-all;
  }
  .travel-item__link {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.62;
  }
  .travel-action {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=blog.css.map */
