@use "../base";
@use "../abstracts";

.comming {
    padding: 40px 140px 0 88px;
    display: flex;
    align-items: center;
    column-gap: 140px;

    &__heading {
        margin-bottom: 40px;
        color: #2d3134;
        font-size: 6.2rem;
        font-weight: 600;
        line-height: 1.11;
    }

    &-wrap {
        display: flex;
        column-gap: 50px;
    }

    &__time {
        color: #ff7b29;
        font-family: Poppins, sans-serif;
        font-size: 6.2rem;
        font-weight: 600;
        line-height: 1.1;

        span {
            display: block;
            color: abstracts.$textColor;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.75;
            text-align: center;
        }
    }

    &__form {
        margin-top: 80px;
    }

    &__label {
        margin-bottom: 30px;
        display: inline-block;
        color: #2d3134;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.33;
    }

    &__input {
        padding: 21px 20px;

        width: 327px;
        height: 66px;
        border-radius: 12px;
        border: 1px solid #ececec;
        background: #fff;

        color: #676a6c;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.33;
    }

    &__input::placeholder {
        color: #676a6c;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.33;
    }

    &__submit-form {
        display: flex;
        column-gap: 20px;
    }

    &__submit {
        cursor: pointer;
    }
}
/*  pc */
@media screen and (min-width: 992px) {
    .comming__mobile-img {
        display: none;
    }
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .comming {
        padding: 40px 24px 0 24px;
        flex-direction: column-reverse;
        align-items: center;

        &__img {
            display: none;
        }

        &__heading {
            margin-bottom: 30px;
            font-size: 4rem;
            line-height: 1.25;
        }

        &-wrap {
            column-gap: 24px;
        }

        &__time {
            font-size: 4rem;
            line-height: 1.25;

            span {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        &__form {
            margin-top: 40px;
        }

        &__label {
            margin-bottom: 20px;
            font-size: 1.2rem;
            line-height: 1.5;
        }

        &__input {
            padding: 16px;

            width: 327px;
            height: 58px;
            border-radius: 10px;

            font-size: 1.6rem;
            line-height: 1.62;
        }

        &__input::placeholder {
            font-size: 1.6rem;
            line-height: 1.62;
        }

        &__submit-form {
            display: flex;
            flex-direction: column;
            row-gap: 14px;
        }
    }
}
