@use "../base";
@use "../abstracts";

.error {
    padding: 224px 135px 203px 0;
    display: flex;
    align-items: center;

    &__notify {
        margin-left: -100px;

        color: #676a6c;
        font-family: Poppins, sans-serif;
        font-size: 6.2rem;
        font-weight: 500;
        line-height: 1.11;

        span {
            margin-top: 20px;
            color: #2d3134;
            display: block;
        }
    }
}

/*  pc */
@media screen and (min-width: 992px) {
    .error__mobile-img {
        display: none;
    }
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .error {
        padding: 205px 14px 205px 0;
        flex-direction: column;
        row-gap: 60px;

        &__img {
            display: none;
        }

        &__mobile-img {
            display: block;
        }

        &__notify {
            margin-left: 0;
            font-size: 4rem;
            line-height: 1.25;

            span {
                margin-top: 14px;
                color: #2d3134;
            }
        }
    }
}
