@use "../abstracts";
@use "../base";

.footer {
    margin: 140px 0 30px;

    &-wrap {
        position: relative;
        display: grid;
        grid-template-columns: 1.585fr 1.685fr 1.585fr 1fr;
    }

    &-wrap::after {
        position: absolute;
        bottom: -40px;
        left: 0;
        content: "";
        display: inline-block;
        width: 1170px;
        height: 1px;
        background: rgba(210, 208, 192, 0.21);
    }

    &-list__heading {
        padding: 10px 0;

        display: inline-block;
        margin-bottom: 26px;
        color: #020000;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1;
    }

    &-item {
        padding: 10px 0;
        color: #676a6c;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 3.16;
    }

    &-list__desc {
        margin-bottom: 39px;

        max-width: 200px;
        color: #676a6c;
        font-family: Inter;
        font-size: 1.4rem;
        line-height: 1.85;
    }

    &-list__email {
        color: #31c3e0;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
    }

    &-bottom {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-bottom__list {
        display: flex;
        column-gap: 34px;
    }

    &-bottom__item {
        color: #6a6f77;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.14;

        &--actived {
            color: #2d3134;
        }
    }

    &-bottom__item:hover {
        color: #2d3134;
    }

    &-social {
        display: flex;
        column-gap: 20px;
    }

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid #bcbcbc;
    }
}

/*  pc */
@media screen and (min-width: 992px) {
}

/*  Tablet and mobile*/
@media screen and (max-width: 991.98px) {
}

/*  Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/*  Mobile */
@media screen and (max-width: 767.98px) {
    .footer {
        margin: 60px 0 30px;

        &-wrap {
            grid-template-columns: 1fr 1fr;
            row-gap: 30px;
        }

        &-wrap::after {
            bottom: -30px;
            max-width: 335px;
        }

        &-bottom {
            margin-top: 64px;
            flex-direction: column;
            align-items: flex-start;
        }

        &-bottom__list {
            margin-top: 33px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &-social {
            margin-top: 20px;
        }
    }
}
